<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- My CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'orders/css/layout.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        {% block css %}
        {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="shadow navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand ml-5" href="/" style="font-family: 'Pacifico', cursive;">
                <img src="{% static 'orders/images/pinocchio_72.gif' %}" alt="pinocchiologo" style="height: 75px;">
                {% if user.is_authenticated %}
                Hi {{ user.username }}.
                {% endif %}
            </a>
                {% block nav %}
                {% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto mr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto mr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="toppingModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: 'Pacifico', cursive;" class="modal-title" id="toppingModalLongTitle">
                    Cart
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <table class="table table-sm">
                        {% if ordersum != None %}
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Item</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.values %}
                            {% if item.status == "Pending" %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.item }}</td>
                                <td>{{ item.name }}</td>
                                <td>${{ item.price }}</td>
                            </tr>
                            {% endif %}
                          {% endfor %}
                          <tr>
                            <th scope="row">TOTAL</th>
                            <td></td>
                            <td></td>
                            <td>${{ ordersum }}</td>
                            <td></td>
                          </tr>
                        </tbody>
                        {% else %}
                        <p>Your cart is empty.</p>
                        {% endif %}
                      </table>
            </div>
            <div class="modal-footer">
                <button style="font-family: 'Pacifico', cursive;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a style="font-family: 'Pacifico', cursive;" class="btn btn-danger" href="shoppingcart" role="button">Go to Cart</a>
            </div>
        </div>
    </div>
</div>

        {% block body %}
        {% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>